@use 'variables' as v;
@use 'mixins' as m;

.product {
  width: 280px;
  padding: 16px;
  border-radius: v.$radius;
  background: #fff;
  @include m.card-shadow(0.25);

  &__image {
    width: 100%;
    height: auto;
    border-radius: v.$radius;
    margin-bottom: 12px;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    color: v.$primary-color;
    margin-bottom: 8px;
  }

  &__desc {
    font-size: 14px;
    color: #444;
    margin-bottom: 16px;
  }

  .btn {
    display: inline-block;
    padding: 10px 14px;
    background: v.$primary-color;
    color: white;
    border-radius: v.$radius;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
      background: darken(v.$primary-color, 10%);
    }
  }
}
